{% form_theme formMain 'bootstrap_4_layout.html.twig' %}

<div class="col-6 px-0">
    <div class="container">
    <div class="row px-0">
        <div class="col-md-12 px-0  bg-dark text-white"><h3 class="text-center">Nos partenaires</h3></div>
        <div class="col-md-12 px-0"><img src="{{ asset('build/images/new-b.png') }}" class="img-fluid px-0" alt=""></div>

    </div>
    </div>
</div>
<div class="col-2"></div>
<div class="col-2 ">

    {{ form_start(formMain) }}
        <div class="slider ">


            <div class="slider-item">
                {{ form_row((formMain.lastName)) }}
            </div>
            <div class="slider-item">
                {{ form_row((formMain.firstName)) }}
            </div>

            <div class="slider-item justify-content-center">
                {{ form_row((formMain.birthdate)) }}
            </div>
            <div class="slider-item">
                {{ form_row((formMain.email)) }}
            </div>
            <div class="slider-item">
                {{ form_row((formMain.phoneNumber)) }}
            </div>
            <div class="slider-item">
                {{ form_row((formMain.city)) }}
            </div>


            <div class="slider-item">
                <button class="btn btn-danger">{{ button_label|default('Envoyer') }}</button>
            </div>
        </div>


    {{ form_end(formMain) }}

</div>
<div class="col-2"></div>
<div class="col-12 box"><img src="https://dummyimage.com/533x100" alt="partenaires"></div>


{# {{ form_start(formMain) }}
        {{ form_row((formMain.lastName)) }}
        {{ form_row((formMain.firstName)) }}
        {{ form_row((formMain.birthdate)) }}
        {{ form_row((formMain.email)) }}
        {{ form_row((formMain.phoneNumber)) }}
        {{ form_row((formMain.city)) }}
        <button class="btn btn-danger">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(formMain) }}   #}