{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container">
{{ form_start(form) }}

{{ form_row(form.model,{ 'label': 'Modèle' }) }}
{{ form_row(form.brand,{ 'label': 'Marque' }) }}
{{ form_row(form.power,{ 'label': 'Puissance fiscale' }) }}
{{ form_row(form.gas,{ 'label': 'Carburant' }) }}
{{ form_row(form.registration,{ 'label': 'Immatriculation' }) }}
{{ form_row(form.insuranceExist,{ 'label': 'Etes-vous déjà assuré ?'}) }}

<button class="btn btn-danger">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
</div>